.site-lead {
  font-size: 1.7em
}

.example-output {
  pre {
    background-color: #efe;
  }
}

.reference-section-header {
  margin-top: 2em;
  &:first-child {
    margin-top: 0;
  }
}

.reference-sidemenu {
  position: fixed;
}