.site-lead {
  font-size: 1.7em
}

.example-output {
  pre {
    background-color: #efe;
  }
}

.reference-section + .reference-section {
  margin-top: 4em;
}

.reference-example + .reference-example {
  margin-top: 2em
}

.reference-sidemenu {
  position: fixed;
}

.page-subheader {
  margin-top: 1em;
}
